In [23]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics
import json

import re

In [6]:
trainData = pd.read_csv("train.csv")

In [3]:
dictData = pd.read_csv("kata_dasar_kbbi.csv")

In [3]:
trainData.head()

,itemid,title,Category,image_path
0,307504,nyx sex bomb pallete natural palette,0,beauty_image/6b2e9cbb279ac95703348368aa65da09.jpg
1,461203,etude house precious mineral any cushion pearl...,1,beauty_image/20450222d857c9571ba8fa23bdedc8c9.jpg
2,3592295,milani rose powder blush,2,beauty_image/6a5962bed605a3dd6604ca3a4278a4f9.jpg
3,4460167,etude house baby sweet sugar powder,3,beauty_image/56987ae186e8a8e71fcc5a261ca485da.jpg
4,5853995,bedak revlon color stay aqua mineral make up,3,beauty_image/9c6968066ebab57588c2f757a240d8b9.jpg

In [5]:
maxlength=0
for i in trainData["title"]:
    maxlength = max(maxlength,len(i))

In [6]:
maxlength

106

In [8]:
trainData.shape

(666615, 4)

In [10]:
trainData.sample(n=10)

,itemid,title,Category,image_path
627234,1107275050,android 4g murah advan s5e full view,45,mobile_image/0628a3ad4aa71fe56362a99df7adf7c3.jpg
465122,1467981474,hearsbeauty wanita musim panas lintas tali tan...,25,fashion_image/7b801c530c581c8a5554261594df4af7
340611,964912077,long dress model lace up gaya medieval renaiss...,24,fashion_image/75d9e9115a953716f0d1d6fe8c9d9dc3
580994,1397829030,asus zenfone live za550kl 3gb 32gb resmi,43,mobile_image/bb9bfe49e021a5eb03bad3a6c6867cb5.jpg
857,1513966844,krim concealer pemutih natural,7,beauty_image/73eefd3adb69d47c1386199742098cb3.jpg
505228,845009737,polo basic woman 57,26,fashion_image/241155ee45f48800837b7705966d9062
205907,1440934346,kiss beauty aloe vera blusher powder blush on ...,2,beauty_image/527e72ba4e9372b9a22ee1fd98c3cd3f.jpg
223956,1488340984,la girl pro concealer natural,7,beauty_image/fdf2c6607c16a6ea89453635b58fed29.jpg
129132,1157815487,focallure cover liquid concealer,7,beauty_image/1a24440a153acab722108d7594d3ad33.jpg
402526,1288099384,dress mini halter tanpa lengan motif print bun...,18,fashion_image/cde8f92c0a6a2c1aae4dc1195a09445a

In [32]:
dic = {}

for index,row in trainData.iterrows():
    arr = re.split('\W+',row["title"])
    for sz in arr:
        if (sz,row["Category"]) not in dic:
            dic[(sz,row["Category"])] = 1
        else:
            dic[(sz,row["Category"])]+=1

# for i in range(trainData.shape[0]):
#     arr = re.split('\W+',trainData["title"][i])
#     for j in arr:
#         if (j,trainData["Category"][i]) not in dic:
#             dic[(j,trainData["Category"][i])]=1
#         else:
#             dic[(j,trainData["Category"][i])]+=1

In [38]:
dicAll = {}

In [39]:
for index,row in trainData.iterrows():
    arr = re.split('\W+',row["title"])
    for sz in arr:
        if sz not in dicAll:
            dicAll[sz] = 1
        else:
            dicAll[sz]+=1

In [37]:
testData = pd.read_csv("test.csv")

In [71]:
idx = []
res = []

In [ ]:
for index,row in testData.iterrows():
    maxi = 0.0
    imax = 0
    for i in range(58):
        tot = 0.0
        arr = re.split('\W+',row["title"])
        for sz in arr:
            if (sz,i) in dic:
                tot += dic[(sz,i)]/dicAll[sz]
        if tot>maxi:
            maxi=tot
            imax = i
    idx.append(row["itemid"])
    res.append(imax)

In [66]:
df = pd.DataFrame({'itemid': idx, 'Category':res})

In [69]:
df.head(n=10)

       itemid  Category
0   370855998         5
1   637234604         3
2   690282890         5
3   930913462         5
4  1039280071         5
5  1327710392         5
6  1328802799         5
7  1330468145         5
8  1677309730         5
9  1683142205         5

In [43]:
catData = json.loads("categories.json")

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [12]:
catData.head()

               Mobile  Fashion  Beauty
A Line Dress      NaN     21.0     NaN
Advan            45.0      NaN     NaN
Alcatel          55.0      NaN     NaN
Asus             43.0      NaN     NaN
BB & CC Cream     NaN      NaN     5.0

In [15]:
categories_file = open("categories.json", "r")
categories = json.load(categories_file)

In [16]:
categories

{'Mobile': {'Others Mobile & Tablet': 35,
  'Smartfren': 53,
  'Infinix': 40,
  'Brandcode': 39,
  'Icherry': 52,
  'Advan': 45,
  'Iphone': 31,
  'Realme': 51,
  'Motorola': 49,
  'Maxtron': 56,
  'Nokia': 38,
  'Xiaomi': 34,
  'Mito': 46,
  'Sony': 33,
  'SPC': 57,
  'Lenovo': 37,
  'Alcatel': 55,
  'Samsung': 32,
  'Vivo': 42,
  'Evercoss': 44,
  'Strawberry': 50,
  'Blackberry': 36,
  'Asus': 43,
  'Honor': 54,
  'Oppo': 41,
  'Huawei': 47,
  'Sharp': 48},
 'Fashion': {'Wedding Dress': 23,
  'Shirt': 27,
  'Casual Dress': 18,
  'Maxi Dress': 20,
  'Big Size Dress': 24,
  'Bodycon Dress': 22,
  'Party Dress': 19,
  'Blouse\xa0': 26,
  'Tshirt': 25,
  'Crop Top ': 29,
  'Tanktop': 28,
  'Others': 17,
  'A Line Dress': 21,
  'Big Size Top': 30},
 'Beauty': {'Foundation': 1,
  'Face Palette': 0,
  'Concealer': 7,
  'Lip Gloss': 14,
  'Blush On': 2,
  'Highlighter': 8,
  'BB & CC Cream': 5,
  'Other Face Cosmetics': 4,
  'Lip Tint': 13,
  'Bronzer': 11,
  'Lip Liner': 15,
  'Powder': 3,
  'Setting Spray': 10,
  'Primer': 9,
  'Contour': 6,
  'Other Lip Cosmetics': 16,
  'Lipstick': 12}}