In [ ]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb

import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics
import json

import re

In [5]:
trainData = pd.read_csv("../data/train.csv")

In [6]:
dictData = pd.read_csv("../data/kata_dasar_kbbi.csv")

In [7]:
trainData.head()

,itemid,title,Category,image_path
0,307504,nyx sex bomb pallete natural palette,0,beauty_image/6b2e9cbb279ac95703348368aa65da09.jpg
1,461203,etude house precious mineral any cushion pearl...,1,beauty_image/20450222d857c9571ba8fa23bdedc8c9.jpg
2,3592295,milani rose powder blush,2,beauty_image/6a5962bed605a3dd6604ca3a4278a4f9.jpg
3,4460167,etude house baby sweet sugar powder,3,beauty_image/56987ae186e8a8e71fcc5a261ca485da.jpg
4,5853995,bedak revlon color stay aqua mineral make up,3,beauty_image/9c6968066ebab57588c2f757a240d8b9.jpg

In [ ]:
maxlength=0
for i in trainData["title"]:
    maxlength = max(maxlength,len(i.split()))

In [9]:
maxlength

106

In [10]:
trainData.shape

(666615, 4)

In [11]:
trainData.sample(n=10)

,itemid,title,Category,image_path
248338,1611494312,be bioaqua exquisite and delicate refill bb cu...,5,beauty_image/89b1c96e6adbf4ec30229916abbc44e1.jpg
49308,876291886,wardah exclusive liquid foundation 20ml,1,beauty_image/13309d9f212a83e367531d4bd883d805.jpg
368338,1822601959,new sexy high waistband horn sleeve lace dress...,22,fashion_image/8f60351595bbb77d2ce57efb5ef524e7
27483,633628835,the face shop cc long lasting cushion,5,beauty_image/0fe817d68e750e01a240824944e80c33.jpg
426407,1601825925,blus tanpa lengan desain patchwork renda denga...,27,fashion_image/3349d1fbf8c9421aca2415fa75b03784
433301,1573085199,grosir t shirt tumblr tee kaos wanita lengan p...,25,fashion_image/a3d8317d49a2d94be223b69e9e087b61
255858,1549983657,allura blush on cream sweety peach 12 5gr,2,beauty_image/9f81d82bd11d9d8f591f0f3b8b26f86d.jpg
137537,186747424,etude house cc cream,5,beauty_image/9c2dde85e8c5e8fb3119ebbbd29d3d60.jpg
36554,915348346,p r o m bedak purbasari oil control matte powd...,3,beauty_image/06f7342c8df3705da2356af061d79a2f.jpg
598234,1474936326,promo oppo f9 ram 4 64gb murah free speaker bl...,41,mobile_image/46f848a5b048bfb9ba722fdeb5efd4d5.jpg

In [ ]:
dic = {}

for index,row in trainData.iterrows():
    arr = re.split('\W+',row["title"])
    for sz in arr:
        if (sz,row["Category"]) not in dic:
            dic[(sz,row["Category"])] = 1
        else:
            dic[(sz,row["Category"])]+=1

# for i in range(trainData.shape[0]):
#     arr = re.split('\W+',trainData["title"][i])
#     for j in arr:
#         if (j,trainData["Category"][i]) not in dic:
#             dic[(j,trainData["Category"][i])]=1
#         else:
#             dic[(j,trainData["Category"][i])]+=1

In [38]:
dicAll = {}

In [39]:
for index,row in trainData.iterrows():
    arr = re.split('\W+',row["title"])
    for sz in arr:
        if sz not in dicAll:
            dicAll[sz] = 1
        else:
            dicAll[sz]+=1

In [37]:
testData = pd.read_csv("test.csv")

In [71]:
idx = []
res = []

In [72]:
for index,row in testData.iterrows():
    maxi = 0.0
    imax = 0
    for i in range(58):
        tot = 0.0
        arr = re.split('\W+',row["title"])
        for sz in arr:
            if (sz,i) in dic:
                tot += dic[(sz,i)]/dicAll[sz]
        if tot>maxi:
            maxi=tot
            imax = i
    idx.append(row["itemid"])
    res.append(imax)

In [73]:
df = pd.DataFrame({'itemid': idx, 'Category':res})

In [74]:
df.head(n=10)

       itemid  Category
0   370855998         5
1   637234604         3
2   690282890         5
3   930913462         5
4  1039280071         5
5  1327710392         5
6  1328802799         5
7  1330468145         5
8  1677309730         5
9  1683142205         5

In [78]:
df.to_csv(path_or_buf  = 'out.csv', index = False)

In [43]:
catData = json.loads("categories.json")

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [12]:
catData.head()

               Mobile  Fashion  Beauty
A Line Dress      NaN     21.0     NaN
Advan            45.0      NaN     NaN
Alcatel          55.0      NaN     NaN
Asus             43.0      NaN     NaN
BB & CC Cream     NaN      NaN     5.0

In [15]:
categories_file = open("categories.json", "r")
categories = json.load(categories_file)

In [16]:
categories

{'Mobile': {'Others Mobile & Tablet': 35,
  'Smartfren': 53,
  'Infinix': 40,
  'Brandcode': 39,
  'Icherry': 52,
  'Advan': 45,
  'Iphone': 31,
  'Realme': 51,
  'Motorola': 49,
  'Maxtron': 56,
  'Nokia': 38,
  'Xiaomi': 34,
  'Mito': 46,
  'Sony': 33,
  'SPC': 57,
  'Lenovo': 37,
  'Alcatel': 55,
  'Samsung': 32,
  'Vivo': 42,
  'Evercoss': 44,
  'Strawberry': 50,
  'Blackberry': 36,
  'Asus': 43,
  'Honor': 54,
  'Oppo': 41,
  'Huawei': 47,
  'Sharp': 48},
 'Fashion': {'Wedding Dress': 23,
  'Shirt': 27,
  'Casual Dress': 18,
  'Maxi Dress': 20,
  'Big Size Dress': 24,
  'Bodycon Dress': 22,
  'Party Dress': 19,
  'Blouse\xa0': 26,
  'Tshirt': 25,
  'Crop Top ': 29,
  'Tanktop': 28,
  'Others': 17,
  'A Line Dress': 21,
  'Big Size Top': 30},
 'Beauty': {'Foundation': 1,
  'Face Palette': 0,
  'Concealer': 7,
  'Lip Gloss': 14,
  'Blush On': 2,
  'Highlighter': 8,
  'BB & CC Cream': 5,
  'Other Face Cosmetics': 4,
  'Lip Tint': 13,
  'Bronzer': 11,
  'Lip Liner': 15,
  'Powder': 3,
  'Setting Spray': 10,
  'Primer': 9,
  'Contour': 6,
  'Other Lip Cosmetics': 16,
  'Lipstick': 12}}